@import url('https://fonts.googleapis.com/css?family=Kalam');
*, body{
	margin: 0;
	padding: 0;
}
html ,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 16px;
}
/*************Wellcom Page*************/
.intro {
	width: 100%;
	height: 100%;
	margin: auto;
	background:url('images/bg.jpeg') no-repeat 50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
    display: table;
    top: 0;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
	background: rgba(50, 125, 200, 0.1); 
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h1{
	color: #F2F3F4;
	text-shadow: 5px 5px 20px #000;
	font-size: 3em;
	font-family: 'Kalam', cursive;
	font-weight: 700;
	margin-bottom:20px; 
}
.content h1 span{
	font-size: 1.2em;

}
.content .btn{
	border-radius: 10px;
	font-family: 'Kalam', cursive;
  font-weight: bold;
	color: #F2B637;
	font-size: 1.5em;
	padding: 10px 20px;
	border: solid #F2B637 3px;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 5px 5px 20px #000;
	box-shadow: inset 5px 5px 20px #333,5px 5px 20px #333;
}
.content .btn:hover{
	color: #fff;
	border:3px solid #fff ;
}

.icons {
	position: absolute;
	top: 550px;
	right: 615px;
}

.icons li {
	display: inline-block;
	list-style: none;
	margin-left: 25px;
}
.icons li a {
	text-decoration: none;
	color: #F2B637;
}
.icons li a span {
	display: block;
	opacity: 0;
	background: rgba(42,46, 55, 0.3);
	border-radius: 5px;
}
.icons li a:hover span {
	opacity: .9;
}

#aboutUs ,#contact, #ask {
	display: none;
	position: absolute;
	top: 50px;
	left: 150px;
	width: 80%;
	height: 80%;
	border: 2px solid #F2B637;
	border-radius: 10px;
	background: rgba(42,46, 55, 0.5);
}

#aboutUs p ,#contact p, #ask p {
	color: #fff;
}

/****************Top Navbar****************/

#navbar {
	overflow: hidden;
	background: rgba(42,46, 55, 0.8);
}
#navbar>ul{
	list-style: none;
	padding: 0;
	margin:0;
	border-top: 1px dotted #000;
  border-bottom: 10px solid #333;
}
#navbar>ul>li{
	display: inline-block;
	width: 10%;
	box-sizing: border-box;
	height: auto;
}
#navbar>ul>li:first-child{
  width: 25%;
	font-size: 1.8em;
	font-family: 'Kalam', cursive;
}
#navbar>ul>li a{
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
 	font-size: 1.2em;
	text-shadow: 5px 5px 20px #000;

}
#navbar>ul>li a:hover{
	background-color: #333;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .topContent {
  margin-top: 160px;
}

.firstSec, .secondSec{
	line-height: 2.5em;
}
.secTitle {

}